<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.focusflow_beta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <!-- חשוב: כדי ש-setExact לא יפיל אותך ב-Android 12+ -->
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FocusFlow_Beta">
        <receiver
            android:name=".receivers.BreakAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".receivers.BreakActionReceiver"
            android:exported="false" />


        <!-- מסך הבית הראשי -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- שאלון ההגדרות הראשוני (לאחר הרשמה) -->
        <activity
            android:name=".SetupActivity"
            android:exported="false" />

        <!-- שאר הפעילויות הישנות -->
        <activity android:name=".oldactivities.ProfileActivity" />
        <activity
            android:name=".oldactivities.BreakStatsActivity"
            android:parentActivityName=".oldactivities.HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".oldactivities.HomeActivity" />
        <activity android:name=".MainActivity" />

    </application>

</manifest>
